
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html{
    font-size:62.5%;
}
ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}

:root {
    --primary-color: #4E4E4E;
    --text-color: #000;
    --primary-color-background: #1E1E1E;
    --second-color-background: #e5e4e4;
    --inner-background: #7E7979;
    --header-height: 100px;
    --transition-delay: all 0.2s linear;
}
.container-section{ 
    width: 1260px;
    margin: 0 auto;
}
#footer {
    padding: 3rem 0;
    background-color: var(--second-color-background);
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.footer-logo p {
    font-size: 1.8rem;
    line-height: 1.2;
    color: var(--text-color);
    font-weight: bold;
    width: 50%;
    margin: 0 0 0 1rem;
}

.footer-contact {
    margin-top: 4rem;
}

.footer-contact h1,
.footer-right h1 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.footer-contact p,
.footer-right p {
    font-size: 1.6rem;
    font-weight: 500;
}

.footer-contact ul {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 500;
}

.footer-right span {
    display: block;
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.footer-right ul {
    margin: 0;
    padding: 0;
}

.footer-right ul li:not(:last-child) {
    margin-bottom: 1rem;
}

.footer-right ul li a {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--text-color);
}
#header {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9; */
    height: var(--header-height);
    background-color: var(--second-color-background);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    height: 100%;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.header-logo p {
    font-size: 1.8rem;
    line-height: 1.2;
    color: var(--text-color);
    font-weight: bold;
    width: 50%;
    margin: 0 0 0 1rem;
}

.header-right {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header-menus {
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}

.header-menus li a {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: bold;
}

.header-translate {
    position: relative;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
}

.header-translate img {
    width: 26px;
    height: 18px;
    border-radius: 3px;
}

.header-translate i {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 0.7rem;
}

.header-translate:hover .header-subtran {
    display: block;
}

.header-subtran {
    display: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: absolute;
    top: 2.7rem;
    left: -2.5rem;
    z-index: 2;
}

.header-subtran::before {
    content: '';
    display: block;
    height: 1rem;
    width: 100%;
    position: absolute;
    top: -6px;
    right: 0;
}

.header-subtran li {
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: var(--transition-delay);
}

.header-subtran li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header-subtran li img {
    width: 26px;
    height: 18px;
    border-radius: 3px;
    margin-right: 0.5rem;
}
.header-subtran li p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
}